*,
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Noto Sans KR', sans-serif;
    color: #333;
    font-size: 13px;
    font-display: optional
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
ol,
ul {
    list-style: none;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}
table tbody td {
    vertical-align: middle;
}

a {
    display: inline-block;
    color: #333;
    text-decoration: none;
}
