.h5 {
    font-weight: 400;
}
.inner {
    max-width: 1200px !important;
    width: 100%;
    margin: 0 auto;
}

.card {
    border-radius: 12px;
    border: solid 1px #e6eef4;
    box-shadow: 0px 6px 20px 0 rgba(193, 207, 217, 0.14);
}
.card-body {
    padding: 30px;
}

.priority {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 5px;
    min-width: 40px;
    height: 23px;
    padding: 0 10px;
    color: #fff;
}
.priority.lv0 {
    border-color: #ffbebe;
    background-color: #ffe5e5;
    color: #f05353;
}
.priority.lv1 {
    border-color: #ffc350;
    background-color: #ffe4b2;
    color: #e88600;
}
.priority.lv2 {
    border-color: #9ce8c5;
    background-color: #eafff5;
    color: #10aa64;
}
.priority.lv3 {
    border-color: #bfd2ff;
    background-color: #edf2ff;
    color: #336cfa;
}
.tb-project-title {
    width: 100%;
    font-size: 15px;
    font-weight: 500;
}
.tb-project-title:hover {
    text-decoration: underline;
    opacity: 0.9;
}

.status span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26px;
    border-radius: 5px;
    border: 1px solid transparent;
    font-weight: 500;
}
.status .todo {
    background-color: #fedddb;
    color: #ef5c51;
}
.status .doing {
    background-color: #eafff5;
}
.status .done {
    background-color: #e9ebf1;
}
.status .hold {
    border: 1px solid #e9ebf1;
}

.board-view {
}

.board-view li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 10px;
    /* border-bottom: 1px solid var(--bs-border-color); */
}
.board-view-title {
    font-size: 14px;
    font-weight: 500;
}
.board-view-title:hover {
    /* text-decoration: underline; */
    opacity: 0.9;
}
