.inner {
    max-width: 1200px !important;
    width: 100%;
    margin: 0 auto;
}

.card {
    border-radius: 12px;
    border: solid 1px #e6eef4;
    box-shadow: 0px 6px 20px 0 rgba(193, 207, 217, 0.14);
}
.card-body {
    padding: 30px;
}
